<hr>
<h1 class="about-title">About us.</h1>
<hr>
<h2 class="about-subtitle">Four ladies, three days, one amazing website.</h2>

<p class="about-info">
  To live in Portland Oregon is to love Portland Oregon. Angie, J'ena, Sara and Katy got together and knew that we wanted to build a site to help consumers find local businesses. We believe that if everyone <em>thinks globally but acts locally</em> the world would be a better place. Please let us know if you have any question or concerns by contacting us here.
</p>
<hr>
