<div class="col-sm-4 business-tile">
  <div class="well" id="biz-well">
    {{#link-to 'businesses' business.id}}
      {{business.name}}
      <div class="biz-img"><img src={{business.image}}></div>
    {{/link-to}}<br>

  </div>
</div>
