<button class="map-btn btn btn-primary"{{action 'toggleModal' business}}>show map</button>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
  <div class="map-display"></div>

{{/modal-dialog}}
{{/if}}
