@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

li {
  font-family: 'Special Elite', cursive;
}

#foot h2 {
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 4rem;
}

#foot p {
  font-family: 'Special Elite', cursive;
  color: #C6E9F4;
  text-align: center;
  font-size: 16px !important;
}

#head {
  background-image: url("./../images/background.jpeg");
  border-radius: 0px !important;
  background-repeat: no-repeat;
  background-size: cover;
}

#foot {
  background-color: #2C363C;
    border-radius: 0px !important;
}

.jumbotron h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 10rem;
  padding-bottom: 80px;
  padding-top: 170px;
  color: white;
}

.navbar {
  background-color: #9CD6EA;
  font-size: 3rem;
  margin-top: -30px;
  border-radius: 0px !important;
}


.navbar:a {
  color: white;
}

.dropdown {
  margin-left: 30px;
}


.dropdown-toggle {
  background-color: rgba(61, 61, 61, 0.0);
  border-color: rgba(61, 61, 61, 0.0);
  font-size: 3rem;
  padding-top: 10px;
}

.dropdown-toggle:hover {
  background-color: rgba(126, 176, 95, 1);
  border-color: rgba(126, 176, 95, 1);
}

.well {
  background-color: #2C363C;
}

.question {
  font-size: 3rem;
  font-family: 'Special Elite', cursive;
  color: white;
}

.answer {
  font-family: 'Special Elite', cursive;
  color: #A6CC8F;
  font-size: 16px;
}

.faq {
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 4rem;
  background-color: #A6CC8F;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 10px;
}

.biz-img {
  max-width: 700px;
  display: block;
  margin: auto;
  margin-top: 15px;
}

.biz-name {
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: #2C363C;
}

.biz-site {
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: #2C363C;
}

.biz-description {
  font-family: 'Special Elite', cursive;
  color: #2C363C;
  display: block;
  margin: auto;
  max-width: 700px;
}

.biz-info {
  font-family: 'Special Elite', cursive;
  color: #2C363C;
  margin-top: 40px;
  display: block;
  text-align: center;
  font-size: 120%;
  line-height: 35px;
}

.biz {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  background-color: #A6CC8F;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 10px;
  color: white;
}

.categories-header {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  background-color: #A6CC8F;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 20px;
  color: white;
  margin-bottom: 25px;
}

.cat-title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  background-color: #A6CC8F;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 20px;
  color: white;
  margin-bottom: 25px;
}

.cat {
  font-size: 2rem;
  margin-top: 15px;
}

.biz-button {
  display: block;
  margin: auto;
  background-color: rgba(61, 61, 61, 0.0);
  border-color: #FF7A62;
  font-family: 'Special Elite', cursive;
  padding: 20px;
  font-size: 17px;
  border-width: 2px;
  color: #9CD6EA;
}

.biz-button:hover {
  background-color: rgba(61, 61, 61, 0.0);
  font-size: 21px;
  padding: 17px;
  border-color: #FF7A62;
  border-width: 2px;
  color: #9CD6EA;
}

.biz-img img {
  max-width: 250px;
}

// .biz-img img:hover {
//   max-width: 225px;
//   padding: -75px;
// }

#cat-well {
  background-color: white;
  text-align: center;
  font-family: 'Special Elite', cursive;
  border-color: #9CD6EA;
}

#biz-well {
  background-color: white;
  text-align: center;
  font-family: 'Special Elite', cursive;
  border-color: #9CD6EA;
}

#foot h2 {
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 4rem;
}

#foot p {
  font-family: 'Special Elite', cursive;
  color: #C6E9F4;
  text-align: center;
  font-size: 16px !important;
  margin-bottom: 25px;
}

#head {
  background-image: url("./../images/background.jpeg");
  border-radius: 0px !important;
  background-repeat: no-repeat;
  background-size: cover;
}

#foot {
  background-color: #2C363C;
  border-radius: 0px !important;
}

#model-overlays {
  padding: 30px;
}
