@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

li {
  font-family: 'Special Elite', cursive;
}

#foot h2 {
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 4rem;
}

#foot p {
  font-family: 'Special Elite', cursive;
  color: #C6E9F4;
  text-align: center;
  font-size: 16px !important;
}

#head {
  background-image: url("./../images/background.jpeg");
  border-radius: 0px !important;
  background-repeat: no-repeat;
  background-size: cover;
}

#foot {
  background-color: #2C363C;
    border-radius: 0px !important;
}

.jumbotron h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 10rem;
  padding-bottom: 80px;
  padding-top: 170px;
  color: white;
}

.navbar {
  background-color: #9CD6EA;
  font-size: 3rem;
  margin-top: -30px;
  border-radius: 0px !important;
}

.navbar:a {
  color: white;
}

.dropdown {
  margin-left: 30px;
}

.dropdown-toggle {
  background-color: rgba(61, 61, 61, 0.0);
  border-color: rgba(61, 61, 61, 0.0);
  font-size: 3rem;
  padding-top: 10px;
}

.dropdown-toggle:hover {
  background-color: rgba(126, 176, 95, 1);
  border-color: rgba(126, 176, 95, 1);
}
