@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.map-display {
  height: 600px;
  width: 600px;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

li {
  font-family: 'Special Elite', cursive;
}

label {
    font-family: 'Special Elite', cursive;
}

body {
  background-color: #FBFBFB;
}


.jumbotron h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 10rem;
  padding-bottom: 80px;
  padding-top: 170px;
  color: white;
}

.navbar {
  background-color: #9CD6EA;
  font-size: 3rem;
  margin-top: -30px;
  border-radius: 0px !important;
}


.navbar:a {
  color: white;
}

.dropdown {
  margin-left: 30px;
}


.dropdown-toggle {
  background-color: rgba(61, 61, 61, 0.0);
  border-color: rgba(61, 61, 61, 0.0);
  font-size: 3rem;
  padding-top: 10px;
}

.dropdown-toggle:hover {
  background-color: rgba(126, 176, 95, 1);
  border-color: rgba(126, 176, 95, 1);
}

.well {
  background-color: #2C363C;
}

.question {
  font-size: 3rem;
  font-family: 'Special Elite', cursive;
  color: white;
}

.answer {
  font-family: 'Special Elite', cursive;
  color: #C6E9F4;
  font-size: 16px;
}

.faq {
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 4rem;
  background-color: #A6CC8F;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 10px;
}

.biz-img {
  max-width: 700px;
  display: block;
  margin: auto;
  margin-top: 15px;
}

.biz-name {
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: #2C363C;
}

.biz-site {
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: #2C363C;
}

.biz-description {
  font-family: 'Special Elite', cursive;
  color: #2C363C;
  display: block;
  margin: auto;
  max-width: 700px;
}

.biz-info {
  font-family: 'Special Elite', cursive;
  color: #2C363C;
  margin-top: 40px;
  display: block;
  text-align: center;
  font-size: 120%;
  line-height: 35px;
}

.biz {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  background-color: #A6CC8F;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 10px;
  color: white;
}

.categories-header {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  background-color: #A6CC8F;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 20px;
  color: white;
  margin-bottom: 25px;
}

.cat-title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  background-color: #A6CC8F;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 20px;
  color: white;
  margin-bottom: 25px;
}

.biz-list-title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  background-color: #A6CC8F;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 20px;
  color: white;
  margin-bottom: 25px;
}

.footer-bar {
  text-align: center;
  font-size: 4rem;
  background-color: #9CD6EA;
  padding-top: 20px;
  margin-bottom: -25px;
  padding-bottom: 20px;
  color: #9CD6EA;
}

.cat {
  font-size: 2rem;
  margin-top: 15px;
}

.biz-button {
  display: block;
  margin: auto;
  // background-color: #FF7A62;
  background: #995D51; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FF9682,#FF7A62); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF9682,#FF7A62); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF9682,#FF7A62); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF9682,#FF7A62); /* Standard syntax */
  border-color: #FF7A62;
  font-family: 'Special Elite', cursive;
  padding: 20px;
  font-size: 17px;
  border-width: 2px;
  color: white;
}

.biz-button:hover {
  background-color: #FF7A62;
  font-size: 21px;
  padding: 17px;
  border-color: #FF7A62;
  border-width: 2px;
  color: white;
}

.biz-img img {
  max-width: 250px;
}

.biz-app-btn {
  display: block;
  margin: auto;
  background-color: rgba(61, 61, 61, 0.0);
  background: #995D51; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FF9682,#FF7A62); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF9682,#FF7A62); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF9682,#FF7A62); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF9682,#FF7A62); /* Standard syntax */
  border-color: #FF7A62;
  font-family: 'Special Elite', cursive;
  padding: 20px;
  font-size: 17px;
  border-width: 2px;
  color: white;
}

.biz-app-btn:hover {
  background-color: rgba(61, 61, 61, 0.0);
  font-size: 21px;
  padding: 17px;
  border-color: #FF7A62;
  border-width: 2px;
  color: white;
}

.delete-btn {
  display: block;
  margin: auto;
  background-color: rgba(61, 61, 61, 0.0);
  border-color: #9CD6EA;
  color: #9CD6EA;
  font-family: 'Special Elite', cursive;
  padding: 15px;
  font-size: 16px;
}

.delete-btn:hover {
  background-color: #FF7A62;
  border-color: #FF7A62;
}

.update-btn {
  display: block;
  margin: auto;
  background-color: rgba(61, 61, 61, 0.0);
  border-color: #9CD6EA;
  color: #9CD6EA;
  font-family: 'Special Elite', cursive;
  padding: 15px;
  font-size: 16px;
}

.update-btn:hover {
  background-color: #9CD6EA;
  border-color: #9CD6EA;
}

.sign-up-btn {
  background-color: #9CD6EA;
  border-color: #9CD6EA;
}

.map-btn {
  display: block;
  margin: auto;
  background-color: rgba(61, 61, 61, 0.0);
  border-color: #9CD6EA;
  color: #9CD6EA;
  font-family: 'Special Elite', cursive;
  padding: 15px;
  font-size: 16px;
}

.map-btn:hover {
  background-color: #9CD6EA;
  border-color: #9CD6EA;
}

.mem-app {
  font-family: 'Pacifico', cursive;
  color: #2C363C;
}

.update-biz-form {
  padding: 40px;
}

.new-biz-form {
  padding: 40px;
}

.app-form {
  padding: 40px;
  margin-top: 50px;
}

.new-biz-head {
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: #2C363C;
}

.update-title {
  font-family: 'Special Elite', cursive;
}

.carousel-inner {
  max-width: 750px;
  display: block;
  margin: auto;
  margin-bottom: 75px;
  margin-top: 20px;
  max-height: 400px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  height: 400px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-indicators {
  display: none;
}

.feature-block {
  background-color: #2C363C;
  margin-left: 150px;
  margin-right: -135px;
  margin-top: 20px;
  color: white;
  padding-left: 40px;
  font-family: 'Special Elite', cursive;
  min-height: 400px;
}

.feature-biz-info {
  background-color: #FBFBFB;
  margin-left: -25px;
  min-height: 200px;
  color: #2C363C;
  padding: 20px;
}

.feature-biz-name {
  color: #9CD6EA;
}

.feature-title {
  font-family: 'Special Elite', cursive;
  color: #2C363C;
  text-align: center;
  margin-top: 40px;
}

.feature-site {
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  color: white;
}

.feature-name {
  font-family: 'Pacifico', cursive;
  color: #2C363C;
  text-align: center;
}

.map {
  margin-left: auto;
  margin-right: auto;
}

.sign-up {
  font-family: 'Special Elite', cursive;
  max-width: 300px;
  margin-left: 20px;
}

#cat-well {
  background-color: white;
  text-align: center;
  font-family: 'Special Elite', cursive;
  border-color: #9CD6EA;
}

#biz-well {
  background-color: white;
  text-align: center;
  font-family: 'Special Elite', cursive;
  border-color: #9CD6EA;
  max-height: 250px;
}

#foot h2 {
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 4rem;
}

#foot p {
  font-family: 'Special Elite', cursive;
  color: #C6E9F4;
  text-align: center;
  font-size: 16px !important;
  margin-bottom: 25px;
}

#head {
  background-image: url("./../images/background.jpeg");
  border-radius: 0px !important;
  background-repeat: no-repeat;
  background-size: cover;
}

#foot {
  background-color: #2C363C;
  border-radius: 0px !important;
}

#edit-modal {
  padding: 50px !important;
  overflow: auto;
  margin-top: 50px;
}

#cancelBtn {
  margin-bottom: 50px;
}

#foot h2 {
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 4rem;
}

#foot p {
  font-family: 'Special Elite', cursive;
  color: #C6E9F4;
  text-align: center;
  font-size: 16px !important;
}

#head {
  background-image: url("./../images/background.jpeg");
  border-radius: 0px !important;
  background-repeat: no-repeat;
  background-size: cover;
}

#foot {
  background-color: #2C363C;
  border-radius: 0px !important;
}
