<div class="container-fluid">
  <header class="jumbotron" id="head">
    <h1>shop local</h1>
  </header>

  <div class="navbar">
    <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
  <ul class="dropdown-menu">
    <li>{{#link-to 'index'}}home{{/link-to}}</li>
    <li>{{#link-to 'categories'}}categories{{/link-to}}</li>
    <li>{{#link-to 'faq'}}faq{{/link-to}}</li>
  </ul>
</div>

  </div>
  {{outlet}}

  <footer class="footer">
    <div class="jumbotron" id="foot">
      <h2>Own a business?</h2>
      <p>Join the movement for independent businesses.<br>
        We are a powerful one-third of the economy, <br>
        but only if we work together.</p>
    </div>
  </footer>
</div>
