<h1 class="categories-header">{{model.name}}</h1>

{{new-business saveBusiness="saveBusiness" category=model}}
<div class="row">
  <ul>
    {{#each model.businesses as |business|}}
      {{business-tile business=business}}
    {{/each}}
  </ul>
</div>
