<h1 class="categories-header">{{model.name}}</h1>

<div class="row">
  <ul>
    {{#each model.businesses as |business|}}
      {{business-tile business=business}}
    {{/each}}
  </ul>
</div>

{{sign-up category=model}}
