<h1 class="faq">FAQ</h1>

<div class="well">
  <h3 class="question">
    - What is Shop-Local?
  </h3>
  <p class ="answer">
  Shop-Local is a website designed for consumers who believe that supporting local business is important. We believe that you should THINK GLOBALLY but ACT LOCALLY and supporting locally owned busiensses is a part of that. We connect consumers to local business owners to help boost local economy.
  </p>
</div>

<div class="well">
  <h3 class="question">
    - I'm a local business owner and I would like to join your site.
  </h3>
  <p class ="answer">
    Great! Go ahead and fill out one of our business application forms and someone from our team will be in contact with you in 2-3 business days.
  </p>
</div>


<div class="well">
  <h3 class="question">
    - Why does it take a few days to process my application?
  </h3>
  <p class ="answer">
  Here at Shop-Local we are DEDICATED to connecting consumers with local businesses, in order to ensure that all businesses are local and locally owned we require an application process. In addition it helps prevent having businesses with multiple posts.
  </p>
</div>

<div class="well">
  <h3 class="question">
    - You have a short FAQ list. What if I have other questions?
  </h3>
  <p class ="answer">
  Yes! We do have a short FAQ list. We would love answer any of your questions via email, text or phone call. Please see contact information on the contact page.
  </p>
</div>
