<form class="login-form"{{action 'authenticate' on='submit'}}>
  <label for="identification">Login</label><br>
  {{input id='identification' placeholder='Enter Login' value=identification}}
  <br><br>
  <label for="password">Password</label><br>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}

  <br><br>
  <button type="submit" class="btn btn-default">Login</button>
  </form>

  {{#if errorMessage}}
  <p>
    <strong>Login failed</strong>
    <code>{{errorMessage}}</code>
  </p>
{{/if}}
